<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p class="u-spacer--tiny">
        Bewerk de compagnonslijst
      </p>
    </div>
    {{!--       <div class="col--2-12 u-align-right">
            <a class="link--icon--close" href="#">
            <span class="u-visually-hidden">Venster sluiten</span>
            </a>
            </div> --}}
  </div>
</div>

<div class="modal-dialog__content">
  <button {{action (mut isAdding) false}}
    class="px-3 py-1 font-bold {{if isAdding "text-gray-300 hover:text-teal-500" "bg-gray-300 text-black rounded-tr rounded-tl"}}">
    Bewerk
  </button>
  <button {{action (mut isAdding) true}}
    class="px-3 py-1 font-bold {{if isAdding "bg-gray-300 text-black rounded-tr rounded-tl" "text-gray-300 hover:text-teal-500"}}">
    Voeg
  </button>
  <div class="bg-gray-300 p-2 text-black">
    {{#if isAdding}}

      {{!-- List of available organizations --}}
      <ul class="w-full">
        {{!-- TODO: Take care of pagination --}}
        {{#each availableOrganizations as |organization|}}
          <li class="link-list__item">
            <button {{action "addPartner" organization}}
                class="px-2 py-1 hover:bg-teal-600 hover:text-white w-full text-left rounded">
              {{organization.title}}
            </button>
          </li>
        {{/each}}
      </ul>

    {{else}}

      {{!-- List of current attendees --}}
      <ul class="w-full">
        {{#each partners as |partner|}}
          <li class="link-list__item flex items-center hover:bg-gray-400">
            <span class="flex-1">{{partner.title}}</span>
            <button {{action "removePartner" partner}}
                class="px-3 py-1 hover:bg-teal-600 hover:text-white rounded">
              <i class="trash icon pl-1"></i>
            </button>
          </li>
        {{/each}}
      </ul>

    {{/if}}
  </div>
</div>

<div class="modal-dialog__footer">
  {{#wu-button-group}}
    {{wu-button label="Vervangen"
      onClick=(action "commit")
      command="ctrl + j"
      commandLocation="below"}}

    {{!-- {{wu-button label="Negeer"
      onClick=null
      size="tiny"
      isLink=true
      isDark=true
      isNarrow=true
      command="esc"
      commandLocation="below"}} --}}
  {{/wu-button-group}}
</div>

{{yield}}
